body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: NorseBold;
  src: url("../fonts/Norse-Bold.otf")
}

.flex-container {
  display: flex;
  height: 100vh;
}

.header {
  flex: 0 1 500px;
  background: center url("../img/green-leaf-plant.jpg");
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-block {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  display: inline;
  color: white;
  font-size: 88px;
  font-family: NorseBold, sans-serif;
}

.main {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section1,
.section3 {
  background-color: #F9FAFB;
  height: calc((100vh / 3) + 50px);
  padding-left: 32px;
}

.section1 p,
.section3 p {
  font-size: 1.3rem;
  max-width: 50ch;
  font-weight: bold;
  line-height: 1.1;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.section3 {
  padding-top: 40px;
}

.section3 p {
  font-size: 1rem;
}

.section3 a {
  color: #596D48;
  text-decoration: none;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-header {
  margin-left: 32px;
  font-size: 1.2rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.form-element {
  margin-left: 32px;
}

.button {
  height: 40px;
  width: 200px;
  background-color: #596D48;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
}

.attribution{
  color: white;
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}

.attribution a {
  color: white;
  font-size: 12px;
}